body{
    font-family:arial, helvetica, sans-serif;
}
/*first part */
#promise{color:rgb(255, 166, 0)}
.header{
    border-left: 5px solid rgb(69, 180, 214);
    border-radius: 5px;
    padding-left: 4px;
    margin: 0%;


}
.first{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 15%;
}
.half img{
    margin-top: 0;
    width: 50%;
}
.btn{
    width: 150px;
    height: 30px;
    background-color: rgb(69, 180, 214);
    border:1px solid rgb(128, 0, 64) rounded;
    margin-bottom: 30px; 
    
}
/*second part */
.second{
    margin-top: 5%;
}
.parent{
    display:flex;
    margin: 5%;

}
.secondheader{
    text-align:center;
    font-size: 20px;
    margin-bottom: 0%;
}
.span1{
    color:rgb(255, 166, 0);
}
.div1{
    background-color: rgb(207, 223, 223);
    margin-right: 10px;
    border-radius: 5px;
}
.imgdiv1{
    width:20%;
}
.div2{
    background-color: rgb(223, 193, 193);
    margin-right: 10px;
    border-radius: 5px;
}
.imgdiv2{
    width:20%;
}
.div3{
    background-color: rgb(191, 238, 238);
    border-radius: 5px;
}
.imgdiv3{
    width:20%;
}

/*third part */
.third{

}
.thirdsection{
    display: flex;
    
}
.image1{
    margin-left: 10px;
    width: 300px;

}
.para3{
    margin-left: 5%;
}
.button1{
    width: 100px;
    height: 30px;
    background-color: rgb(69, 180, 214);
    border:1px solid rgb(128, 0, 64) rounded;
    margin-top: 20px; 
}
/* fourth part */
.fourth{
}
.fourthsection{
    display: flex;
    margin-top:10% ;
    margin-bottom: 10%;
    
}
.image1{
    margin-left: 10px;
    width: 250px;

}
.para4{
    margin-left: 5%;
}
.button2{
    width: 100px;
    height: 30px;
    background-color: rgb(69, 180, 214);
    border:1px solid rgb(128, 0, 64) rounded;
    margin-top: 20px; 
}
/*fiveth part */
.fivethsection{
    display: flex;
    margin: 15px;

    
}
.header5{
    text-align: center;

    ;
}
.image5{
    margin-left: 20%;
    width: 300px;

}
.para5{
    margin-left: 5%;
}
.button5{
    width: 100px;
    height: 30px;
    background-color: rgb(69, 180, 214);
    border:1px solid rgb(128, 0, 64) rounded;
    margin-top: 20px; 
}

.span5{

}
.subspan{
    
}